In [37]:
import pandas as pd
from collections import defaultdict

In [3]:
ls ../sample/hein-daily

097_SpeakerMap.txt     byspeaker_2gram_097.txt  speeches_097.txt
byparty_2gram_097.txt  descr_097.txt

In [39]:
filepath = "../sample/hein-daily/097_SpeakerMap.txt"

In [28]:
with open(filepath) as f:
    cnt = 0
    speakermap = []
    for line in f:
        line = line.strip().split("|")
        if cnt == 0:
            colnames = line
        else:
            speakermap.append(line)
        cnt += 1
#         if cnt > 10:
#             break

In [29]:
speakermap = pd.DataFrame(speakermap, columns=colnames)
speakermap.shape

(202054, 10)

In [30]:
speakermap['fullname'] = speakermap.lastname.str.cat(speakermap.firstname, sep = ', ')

In [31]:
speakermap.head()

,speakerid,speech_id,lastname,firstname,chamber,state,gender,party,district,nonvoting,fullname
0,97105301,970000005,PERCY,CHARLES,S,IL,M,R,,voting,"PERCY, CHARLES"
1,97105071,970000006,HUDDLESTON,WALTER,S,KY,M,D,,voting,"HUDDLESTON, WALTER"
2,97106761,970000007,JACKSON,HENRY,S,WA,M,D,,voting,"JACKSON, HENRY"
3,97106981,970000008,STAFFORD,ROBERT,S,VT,M,R,,voting,"STAFFORD, ROBERT"
4,97104811,970000010,BAKER,HOWARD,S,TN,M,R,,voting,"BAKER, HOWARD"

In [32]:
speakermap['speakerid'].nunique()

545

In [33]:
speakermap['fullname'].nunique()

541

In [67]:
with open(filepath) as f:
    cnt = 0
    speakermap = defaultdict(list)
    for line in f:
        line = line.strip().split("|")
        if cnt == 0:
            colnames = line
        else:
            fullname = line[2]+', '+line[3]
            if len(line[0])==8:
                congress = line[0][:2]
            else:
                congress = line[0][:3]
            if len(speakermap[fullname]):
                if congress not in speakermap[fullname][0]:
                    speakermap[fullname][0].append(congress)
                    speakermap[fullname][1].append(line[4:7])
            else:
                speakermap[fullname] = [congress]
                speakermap[fullname].append(line[4:7])
        cnt += 1
        if cnt > 10:
            break

In [68]:
speakermap

defaultdict(list,
            {'BAKER, HOWARD': ['97', ['S', 'TN', 'M']],
             'CRANSTON, ALAN': ['97', ['S', 'CA', 'M']],
             'HUDDLESTON, WALTER': ['97', ['S', 'KY', 'M']],
             'JACKSON, HENRY': ['97', ['S', 'WA', 'M']],
             'PERCY, CHARLES': ['97', ['S', 'IL', 'M']],
             'STAFFORD, ROBERT': ['97', ['S', 'VT', 'M']]})