In [1]:
# increase cell width
from IPython.core.display import display, HTML
display(HTML("<style>.container { width:100% !important; }</style>"))

In [2]:
import pandas as pd

In [3]:
!head -3 ../sample/hein-daily/descr_097.txt

speech_id|chamber|date|number_within_file|speaker|first_name|last_name|state|gender|line_start|line_end|file|char_count|word_count
970000001|S|19810105|00001|The VICE PRESIDENT|Unknown|Unknown|Unknown|Special|000017|000062|01051981.txt|1543|283
970000002|S|19810105|00002|The VICE PRESIDENT|Unknown|Unknown|Unknown|Special|000065|000074|01051981.txt|334|55

In [7]:
!head -3 ../sample/hein-daily/097_SpeakerMap.txt

speakerid|speech_id|lastname|firstname|chamber|state|gender|party|district|nonvoting
97105301|970000005|PERCY|CHARLES|S|IL|M|R||voting
97105071|970000006|HUDDLESTON|WALTER|S|KY|M|D||voting

In [72]:
descr = pd.read_csv("../sample/hein-daily/descr_097.txt", sep="|")
descr.shape

(283398, 14)

In [73]:
descr.head()

,speech_id,chamber,date,number_within_file,speaker,first_name,last_name,state,gender,line_start,line_end,file,char_count,word_count
0,970000001,S,19810105,1,The VICE PRESIDENT,Unknown,Unknown,Unknown,Special,17,62,01051981.txt,1543,283
1,970000002,S,19810105,2,The VICE PRESIDENT,Unknown,Unknown,Unknown,Special,65,74,01051981.txt,334,55
2,970000003,S,19810105,3,The VICE,Unknown,Unknown,Unknown,Special,200,212,01051981.txt,466,82
3,970000004,S,19810105,4,The VICE PRESIDENT,Unknown,Unknown,Unknown,Special,858,864,01051981.txt,210,37
4,970000005,S,19810105,5,Mr. PERCY,Unknown,PERCY,Unknown,M,883,889,01051981.txt,201,34

In [90]:
descr.gender.value_counts()

M          219724
Special     58178
F            4931
Unknown       565
Name: gender, dtype: int64

In [74]:
speakermap = pd.read_csv("../sample/hein-daily/097_SpeakerMap.txt", sep="|")
speakermap.shape

(202054, 10)

In [75]:
speakermap.head()

,speakerid,speech_id,lastname,firstname,chamber,state,gender,party,district,nonvoting
0,97105301,970000005,PERCY,CHARLES,S,IL,M,R,NaN,voting
1,97105071,970000006,HUDDLESTON,WALTER,S,KY,M,D,NaN,voting
2,97106761,970000007,JACKSON,HENRY,S,WA,M,D,NaN,voting
3,97106981,970000008,STAFFORD,ROBERT,S,VT,M,R,NaN,voting
4,97104811,970000010,BAKER,HOWARD,S,TN,M,R,NaN,voting

In [76]:
full_map = pd.read_csv('./full_speakermap_demo.txt', sep='|')
full_map.shape

(9845, 17)

In [77]:
full_map.head()

,speakerid,Congress,Full Name,Chamber,State,Gender,Party,SpeachCount,List of Congresses,Ethnicity,BirthYear,CongressYear,Age,Age_lt_med,NonWhite,Female,Age_med
0,97105301,97,"PERCY, CHARLES",S,IL,M,R,2050,97 98,W,1919,1982,63,0,0,0,51.0
1,97105071,97,"HUDDLESTON, WALTER",S,KY,M,D,563,97 98,W,1926,1982,56,0,0,0,51.0
2,97106761,97,"JACKSON, HENRY",S,WA,M,D,560,97 98,W,1912,1982,70,0,0,0,51.0
3,97106981,97,"STAFFORD, ROBERT",S,VT,M,R,497,97 98 99 100,W,1913,1982,69,0,0,0,51.0
4,97104811,97,"BAKER, HOWARD",S,TN,M,R,15456,97 98,W,1925,1982,57,0,0,0,51.0

In [78]:
full_map.drop(columns=['Chamber', 'State', 'Gender', 'Party'], inplace=True)

In [79]:
speakermap = speakermap.merge(full_map, how='left', on='speakerid')
speakermap.shape

(202054, 22)

In [80]:
speakermap.head()

,speakerid,speech_id,lastname,firstname,chamber,state,gender,party,district,nonvoting,...,SpeachCount,List of Congresses,Ethnicity,BirthYear,CongressYear,Age,Age_lt_med,NonWhite,Female,Age_med
0,97105301,970000005,PERCY,CHARLES,S,IL,M,R,NaN,voting,...,2050,97 98,W,1919,1982,63,0,0,0,51.0
1,97105071,970000006,HUDDLESTON,WALTER,S,KY,M,D,NaN,voting,...,563,97 98,W,1926,1982,56,0,0,0,51.0
2,97106761,970000007,JACKSON,HENRY,S,WA,M,D,NaN,voting,...,560,97 98,W,1912,1982,70,0,0,0,51.0
3,97106981,970000008,STAFFORD,ROBERT,S,VT,M,R,NaN,voting,...,497,97 98 99 100,W,1913,1982,69,0,0,0,51.0
4,97104811,970000010,BAKER,HOWARD,S,TN,M,R,NaN,voting,...,15456,97 98,W,1925,1982,57,0,0,0,51.0

In [81]:
speakermap.Ethnicity.isna().sum()

0

In [28]:
list(speakermap)

['speakerid',
 'speech_id',
 'lastname',
 'firstname',
 'chamber',
 'state',
 'gender',
 'party',
 'district',
 'nonvoting',
 'Congress',
 'Full Name',
 'SpeachCount',
 'List of Congresses',
 'Ethnicity',
 'BirthYear',
 'CongressYear',
 'Age',
 'Age_lt_med',
 'NonWhite',
 'Female',
 'Age_med']

In [82]:
keep_cols_descr = ['speech_id', 'date', 'char_count', 'word_count']
keep_cols_map = ['speakerid', 'speech_id', 'party', 'Congress', 'Ethnicity', 'Age', 'Age_lt_med', 'NonWhite', 'Female']

In [83]:
descr_exp = descr[keep_cols_descr].merge(speakermap[keep_cols_map], how='left', on='speech_id')
descr_exp.shape

(283398, 12)

In [84]:
descr_exp.head()

,speech_id,date,char_count,word_count,speakerid,party,Congress,Ethnicity,Age,Age_lt_med,NonWhite,Female
0,970000001,19810105,1543,283,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,970000002,19810105,334,55,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,970000003,19810105,466,82,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,970000004,19810105,210,37,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,970000005,19810105,201,34,97105301.0,R,97.0,W,63.0,0.0,0.0,0.0

In [87]:
descr_exp[descr_exp.speakerid.isna()].word_count.describe()

count    81344.000000
mean       118.178268
std        409.005476
min          1.000000
25%          6.000000
50%         13.000000
75%         60.000000
max      58064.000000
Name: word_count, dtype: float64

In [88]:
descr_exp[~descr_exp.speakerid.isna()].word_count.describe()

count    202054.000000
mean        157.109654
std         340.234849
min           1.000000
25%          11.000000
50%          29.000000
75%         153.000000
max       11750.000000
Name: word_count, dtype: float64

In [44]:
descr_exp = descr_exp[~descr_exp.speakerid.isna()]
descr_exp.shape

(202054, 12)

In [45]:
descr_exp.head()

,speech_id,date,char_count,word_count,speakerid,party,Congress,Ethnicity,Age,Age_lt_med,NonWhite,Female
4,970000005,19810105,201,34,97105301.0,R,97.0,W,63.0,0.0,0.0,0.0
5,970000006,19810105,202,34,97105071.0,D,97.0,W,56.0,0.0,0.0,0.0
6,970000007,19810105,201,34,97106761.0,D,97.0,W,70.0,0.0,0.0,0.0
7,970000008,19810105,201,34,97106981.0,R,97.0,W,69.0,0.0,0.0,0.0
9,970000010,19810105,49,9,97104811.0,R,97.0,W,57.0,0.0,0.0,0.0

In [61]:
congresses = []
for c in range(97,115):
    c = str(c)
    if len(c)==2:
        c = '0'+c
    congresses.append(c)
congresses

['097',
 '098',
 '099',
 '100',
 '101',
 '102',
 '103',
 '104',
 '105',
 '106',
 '107',
 '108',
 '109',
 '110',
 '111',
 '112',
 '113',
 '114']

In [55]:
dirpath = '../raw/hein-daily/'
for c in congresses:
    mapfile = dirpath+c+'_SpeakerMap.txt'
    speakermap = pd.read_csv(mapfile, sep="|")
    print(speakermap.shape)

(202054, 10)
(201199, 10)
(201888, 10)
(192047, 10)
(166895, 10)
(162471, 10)
(159939, 10)
(193358, 10)
(141235, 10)
(141357, 10)
(116866, 10)
(127981, 10)
(117131, 10)
(130093, 10)
(94641, 10)
(91060, 10)
(77621, 10)
(67971, 10)

In [65]:
full_descr = pd.DataFrame(columns=list(descr_exp))
row_cnt = 0
for c in congresses:
    mapfile = dirpath+c+'_SpeakerMap.txt'
    descrfile = dirpath+'descr_'+c+'.txt'
    speakermap = pd.read_csv(mapfile, sep="|")
    speakermap = speakermap.merge(full_map, how='left', on='speakerid')
    descr = pd.read_csv(descrfile, sep="|")
    descr_exp = descr[keep_cols_descr].merge(speakermap[keep_cols_map], how='left', on='speech_id')
    descr_exp = descr_exp[~descr_exp.speakerid.isna()]
    row_cnt += descr_exp.shape[0]
    print("File: {} raw: {} rows. Processed: {} rows".format(c, descr.shape[0], descr_exp.shape[0]))
    full_descr = full_descr.append(descr_exp, ignore_index=True)

File: 097 raw: 283398 rows. Processed: 202054 rows
File: 098 raw: 280288 rows. Processed: 201199 rows
File: 099 raw: 281527 rows. Processed: 201888 rows
File: 100 raw: 276161 rows. Processed: 192047 rows
File: 101 raw: 251216 rows. Processed: 166895 rows
File: 102 raw: 243091 rows. Processed: 162471 rows
File: 103 raw: 235973 rows. Processed: 159939 rows
File: 104 raw: 274984 rows. Processed: 193358 rows
File: 105 raw: 209266 rows. Processed: 141235 rows
File: 106 raw: 209647 rows. Processed: 141357 rows
File: 107 raw: 180725 rows. Processed: 116866 rows
File: 108 raw: 200158 rows. Processed: 127981 rows
File: 109 raw: 187646 rows. Processed: 117131 rows
File: 110 raw: 211366 rows. Processed: 130093 rows
File: 111 raw: 154399 rows. Processed: 94641 rows
File: 112 raw: 145900 rows. Processed: 91060 rows
File: 113 raw: 128148 rows. Processed: 77621 rows
File: 114 raw: 112290 rows. Processed: 67971 rows

In [66]:
full_descr.shape

(2585807, 12)

In [67]:
row_cnt

2585807

In [68]:
full_descr.head()

,speech_id,date,char_count,word_count,speakerid,party,Congress,Ethnicity,Age,Age_lt_med,NonWhite,Female
0,970000005,19810105,201,34,97105301.0,R,97.0,W,63.0,0.0,0.0,0.0
1,970000006,19810105,202,34,97105071.0,D,97.0,W,56.0,0.0,0.0,0.0
2,970000007,19810105,201,34,97106761.0,D,97.0,W,70.0,0.0,0.0,0.0
3,970000008,19810105,201,34,97106981.0,R,97.0,W,69.0,0.0,0.0,0.0
4,970000010,19810105,49,9,97104811.0,R,97.0,W,57.0,0.0,0.0,0.0

In [70]:
full_descr.to_csv('./full_descr.txt', sep='|', index=False)